@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

strong, b {
  font-weight: 700; }

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0; }

html, body {
  font-family: 'Work Sans', sans-serif; }

/* Bootstrap Grid 4 */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

@media (min-width: 1366px) {
  .container {
    max-width: 1300px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%; }

.col-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%; }

.col-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%; }

.col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%; }

.col-5 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%; }

.col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%; }

.col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%; }

.col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%; }

.col-11 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%; }

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%; }

.offset-1 {
  margin-left: 8.333333%; }

.offset-2 {
  margin-left: 16.666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.333333%; }

.offset-5 {
  margin-left: 41.666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.333333%; }

.offset-8 {
  margin-left: 66.666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.333333%; }

.offset-11 {
  margin-left: 91.666667%; }

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .offset-sm-0 {
    margin-left: 0; }
  .offset-sm-1 {
    margin-left: 8.333333%; }
  .offset-sm-2 {
    margin-left: 16.666667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.333333%; }
  .offset-sm-5 {
    margin-left: 41.666667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.333333%; }
  .offset-sm-8 {
    margin-left: 66.666667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.333333%; }
  .offset-sm-11 {
    margin-left: 91.666667%; } }

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .offset-md-0 {
    margin-left: 0; }
  .offset-md-1 {
    margin-left: 8.333333%; }
  .offset-md-2 {
    margin-left: 16.666667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.333333%; }
  .offset-md-5 {
    margin-left: 41.666667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.333333%; }
  .offset-md-8 {
    margin-left: 66.666667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.333333%; }
  .offset-md-11 {
    margin-left: 91.666667%; } }

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .offset-lg-0 {
    margin-left: 0; }
  .offset-lg-1 {
    margin-left: 8.333333%; }
  .offset-lg-2 {
    margin-left: 16.666667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.333333%; }
  .offset-lg-5 {
    margin-left: 41.666667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.333333%; }
  .offset-lg-8 {
    margin-left: 66.666667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.333333%; }
  .offset-lg-11 {
    margin-left: 91.666667%; } }

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .offset-xl-0 {
    margin-left: 0; }
  .offset-xl-1 {
    margin-left: 8.333333%; }
  .offset-xl-2 {
    margin-left: 16.666667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.333333%; }
  .offset-xl-5 {
    margin-left: 41.666667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.333333%; }
  .offset-xl-8 {
    margin-left: 66.666667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.333333%; }
  .offset-xl-11 {
    margin-left: 91.666667%; } }

body, html {
  color: #3A3C48;
  line-height: 1.2;
  background: #fff; }

img {
  max-width: 100%; }

.logo {
  width: 130px;
  display: block;
  margin: 0 auto 30px; }
  @media (min-width: 768px) {
    .logo {
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .logo {
      width: 180px; } }
  @media (min-width: 1366px) {
    .logo {
      width: 212px; } }

.main-header {
  padding-top: 30px;
  padding-bottom: 15px; }
  @media (min-width: 1200px) {
    .main-header {
      padding-top: 60px;
      padding-bottom: 30px; } }
  @media (min-width: 1366px) {
    .main-header {
      padding-top: 100px; } }
  .main-header h2 {
    font-weight: 500;
    font-size: 30px;
    color: #3A3C48;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .main-header h2 {
        font-size: 36px;
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .main-header h2 {
        font-size: 42px; } }
    @media (min-width: 1366px) {
      .main-header h2 {
        font-size: 48px; } }
  .main-header h4 {
    font-size: 14px;
    color: #3A3C48;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .main-header h4 {
        margin-bottom: 0; } }
    @media (min-width: 1200px) {
      .main-header h4 {
        font-size: 16px; } }
    @media (min-width: 1366px) {
      .main-header h4 {
        font-size: 18px; } }
  .main-header .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.steps {
  background: #FAF1EB;
  border: 2px solid #EBCAB4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .steps {
      margin-bottom: 45px; } }
  .steps .step {
    text-align: center;
    font-size: 11px;
    color: #EBCAB4;
    -webkit-box-flex: 1;
    -ms-flex: 1 33.333%;
    flex: 1 33.333%;
    width: 33.333%;
    padding: 15px 0; }
    @media (min-width: 768px) {
      .steps .step {
        font-size: 14px; } }
    @media (min-width: 1200px) {
      .steps .step {
        font-size: 16px; } }
    @media (min-width: 1366px) {
      .steps .step {
        font-size: 18px; } }
    @media (max-width: 768px) {
      .steps .step b {
        display: block; } }
    .steps .step:before {
      content: "";
      background: url("../img/icon-agree.png") no-repeat 0 0/100% auto;
      display: block;
      margin: 0 auto 5px;
      width: 23px;
      height: 15px; }
      @media (min-width: 768px) {
        .steps .step:before {
          display: inline-block;
          margin-right: 5px; } }
    .steps .step:nth-child(2) {
      background: #FFFFFF;
      -webkit-box-shadow: 0px 0px 8px #FFC8A4;
      box-shadow: 0px 0px 8px #FFC8A4; }

.s1 {
  padding-bottom: 50px; }
  .s1 img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .s1 img {
        width: 300px; } }
    @media (min-width: 1366px) {
      .s1 img {
        width: 378px; } }
  .s1 h5 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px; }
    @media (min-width: 1200px) {
      .s1 h5 {
        font-size: 20px;
        margin-bottom: 20px; } }
    @media (min-width: 1366px) {
      .s1 h5 {
        font-size: 24px; } }
    .s1 h5 + p {
      font-size: 14px;
      margin-bottom: 45px; }
      @media (min-width: 768px) {
        .s1 h5 + p {
          margin-bottom: 0; } }
      @media (min-width: 1200px) {
        .s1 h5 + p {
          font-size: 16px; } }
      @media (min-width: 1366px) {
        .s1 h5 + p {
          font-size: 18px; } }
  .s1 p {
    font-size: 14px;
    color: #3A3C48;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .s1 p {
        font-size: 16px;
        margin-bottom: 30px; } }
    @media (min-width: 1200px) {
      .s1 p {
        font-size: 20px; } }
    @media (min-width: 1366px) {
      .s1 p {
        font-size: 24px; } }
  .s1 h2 {
    font-weight: 500;
    font-size: 20px;
    color: #3A3C48;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .s1 h2 {
        font-size: 24px; } }
    @media (min-width: 1200px) {
      .s1 h2 {
        font-size: 30px; } }
    @media (min-width: 1366px) {
      .s1 h2 {
        font-size: 36px; } }

.s2 {
  padding-bottom: 30px; }
  @media (min-width: 768px) {
    .s2 {
      padding-bottom: 100px; } }
  .s2 img {
    display: block;
    width: 100%; }
    @media (min-width: 1200px) {
      .s2 img {
        width: 380px; } }
    @media (min-width: 1366px) {
      .s2 img {
        width: 423px; } }
  .s2 h2 {
    font-size: 19px;
    text-align: center;
    color: #3A3C48;
    margin-bottom: 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .s2 h2 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .s2 h2 {
        margin-bottom: 60px;
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .s2 h2 {
        margin-bottom: 90px;
        font-size: 36px; } }
    .s2 h2 span {
      background: #F9CB9C; }
    @media (max-width: 768px) {
      .s2 h2 br {
        display: none; } }
  .s2 h3 {
    font-size: 19px;
    color: #3A3C48;
    border-bottom: 1px solid #000000;
    padding-bottom: 30px;
    margin-bottom: 20px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .s2 h3 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .s2 h3 {
        font-size: 32px;
        padding-bottom: 60px;
        margin-bottom: 45px; } }
    @media (min-width: 1366px) {
      .s2 h3 {
        font-size: 36px; } }
    .s2 h3 span {
      background: #F9CB9C; }
  .s2 h4 {
    font-size: 19px;
    color: #3A3C48;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .s2 h4 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .s2 h4 {
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .s2 h4 {
        font-size: 36px; } }
  .s2 .row {
    margin-bottom: 90px; }
    @media (min-width: 1200px) {
      .s2 .row {
        margin-bottom: 150px; } }
    .s2 .row-3jars {
      margin-bottom: 60px; }
  .s2 .col-md-7 {
    padding-top: 30px; }
    @media (min-width: 1200px) {
      .s2 .col-md-7 {
        padding-top: 70px; } }

.btn {
  border: none;
  background: none;
  display: block;
  width: 100%;
  margin: 0; }
  .btn-yes {
    background: #F6883D;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 15px;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    padding: 15px; }
    @media (min-width: 768px) {
      .btn-yes {
        font-size: 26px;
        padding: 30px 15px;
        margin-bottom: 30px; } }
    @media (min-width: 1200px) {
      .btn-yes {
        font-size: 30px; } }
    @media (min-width: 1366px) {
      .btn-yes {
        font-size: 36px; } }
    .btn-yes:hover {
      background: #ff6700; }
  .btn-no {
    font-size: 10px;
    text-decoration: underline;
    color: #B0B0B0;
    -webkit-transition: opacity .5s ease;
    transition: opacity .5s ease; }
    @media (min-width: 768px) {
      .btn-no {
        font-weight: 600;
        font-size: 14px; } }
    @media (min-width: 1200px) {
      .btn-no {
        font-size: 16px; } }
    @media (min-width: 1366px) {
      .btn-no {
        font-size: 18px; } }
    .btn-no:hover {
      opacity: .5; }
  .btn-buy {
    background: #0DD62D;
    padding: 13px 10px;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    -webkit-transition: background .5s ease;
    transition: background .5s ease; }
    .btn-buy:hover {
      background: #00ab1b; }
  .btn-green {
    background: #0DD62D; }
    .btn-green:hover {
      background: #007b14; }

.s3 {
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .s3 {
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .s3 {
      padding-bottom: 160px; } }
  .s3 .promise {
    border: 3px solid #000000; }
    @media (min-width: 768px) {
      .s3 .promise {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
  @media (max-width: 768px) {
    .s3 .img {
      padding-top: 30px; } }
  .s3 .img img {
    display: block;
    width: 250px;
    max-width: 250px;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .s3 .img img {
        margin: 0; } }
    @media (min-width: 1200px) {
      .s3 .img img {
        width: 300px;
        max-width: 300px; } }
    @media (min-width: 1366px) {
      .s3 .img img {
        width: 348px;
        max-width: 348px; } }
  .s3 .text {
    padding: 30px 15px; }
    @media (min-width: 768px) {
      .s3 .text {
        border-left: 3px solid #000000; } }
    @media (min-width: 1200px) {
      .s3 .text {
        padding: 40px 20px; } }
  .s3 h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600; }
    @media (min-width: 768px) {
      .s3 h2 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .s3 h2 {
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .s3 h2 {
        font-size: 36px; } }
  .s3 p {
    font-size: 14px; }
    @media (min-width: 768px) {
      .s3 p {
        font-size: 16px; } }
    @media (min-width: 1200px) {
      .s3 p {
        font-size: 20px; } }
    @media (min-width: 1366px) {
      .s3 p {
        font-size: 24px; } }
    .s3 p:not(:last-child) {
      margin-bottom: 15px; }
      @media (min-width: 1200px) {
        .s3 p:not(:last-child) {
          margin-bottom: 30px; } }
  .s3__mod .promise {
    border: none; }
    .s3__mod .promise .text {
      border: none; }
      @media (min-width: 768px) {
        .s3__mod .promise .text {
          padding-left: 1200px; } }

.cross-sell {
  padding: 30px 0; }
  @media (min-width: 768px) {
    .cross-sell {
      padding: 50px 0; } }
  .cross-sell h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .cross-sell h2 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .cross-sell h2 {
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .cross-sell h2 {
        font-size: 36px; } }
  .cross-sell .product {
    background: #F2F2F2;
    padding: 30px; }
    @media (max-width: 768px) {
      .cross-sell .product {
        margin-bottom: 30px; } }
    .cross-sell .product h4 {
      font-weight: 800;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #3A3C48;
      margin-bottom: 30px; }
    .cross-sell .product img {
      display: block;
      margin: 0 auto 15px; }
    .cross-sell .product .price {
      text-align: center;
      margin-bottom: 30px; }
      .cross-sell .product .price__regular {
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        -webkit-text-decoration-line: line-through;
        text-decoration-line: line-through;
        color: #3A3C48;
        vertical-align: top; }
      .cross-sell .product .price__sale {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #3A3C48;
        padding-top: 15px; }
      .cross-sell .product .price span {
        display: inline-block; }
  .cross-sell .btn-no {
    font-size: 14px;
    color: #797979;
    font-weight: 400;
    margin-bottom: 100px; }
    @media (min-width: 1200px) {
      .cross-sell .btn-no {
        font-size: 18px; } }
    @media (min-width: 1366px) {
      .cross-sell .btn-no {
        font-size: 24px; } }
  @media (min-width: 768px) {
    .cross-sell .row {
      margin-bottom: 30px; } }
  .cross-sell + .s3 {
    padding-top: 50px;
    padding-bottom: 50px; }

.s3 + .cross-sell .btn-no {
  margin-bottom: 0; }

.text-center {
  text-align: center; }

.full-list {
  padding-top: 30px;
  padding-bottom: 60px; }
  @media (min-width: 768px) {
    .full-list {
      padding-top: 50px;
      padding-bottom: 100px; } }
  .full-list h2 {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #3A3C48;
    text-align: center;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .full-list h2 {
        font-size: 28px; } }
    @media (min-width: 1200px) {
      .full-list h2 {
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .full-list h2 {
        font-size: 36px; } }
  .full-list p {
    font-weight: 300;
    font-size: 14px;
    line-height: 125.9%;
    text-align: center;
    text-transform: lowercase;
    color: #000000; }
    @media (min-width: 768px) {
      .full-list p {
        font-size: 18px; } }

.why {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .why {
      margin-bottom: 100px; } }
  .why h5 {
    font-weight: 600;
    font-size: 22px;
    color: #F6883D;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 30px; }
    @media (min-width: 768px) {
      .why h5 {
        font-size: 28px;
        margin-bottom: 45px;
        padding-top: 60px; } }
    @media (min-width: 1200px) {
      .why h5 {
        font-size: 32px; } }
    @media (min-width: 1366px) {
      .why h5 {
        font-size: 36px; } }
  .why p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #3A3C48; }
    @media (min-width: 768px) {
      .why p {
        font-size: 16px;
        margin-bottom: 30px; } }
    @media (min-width: 1200px) {
      .why p {
        font-size: 20px; } }
    @media (min-width: 1366px) {
      .why p {
        font-size: 24px; } }
