@import 'variables/colors';
@import 'base/all';

@import 'partials/main-header';
@import 'partials/main-footer';
@import 'partials/form';

@import 'partials/products';


.banner{
  padding-top: 30px;
  @media(min-width:768px){
    padding-top: 60px;
  }
  @media(min-width:1200px){
    padding-top: 90px;
  }
  img{
    display: block;
    width: 100%;
  }
}

.products-section{
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.s1{
  padding-top: 30px;
  padding-bottom: 30px;
  @media(min-width:1200px){
    padding-top: 90px;
    padding-bottom: 60px;
  }
  p{
    padding-top: 10px;
    margin-bottom: 30px;
    @media(min-width:768px){
      padding-top: 30px;
      margin-bottom: 30px;
    }
  }
  .btn{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
  }
}

.s2{
  background: $secondary-color;
  margin-bottom: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  @media(min-width:1200px){
    margin-bottom: 60px;
    height: 500px;
  }
  p{
    padding-top: 10px;
    margin-bottom: 30px;
    @media(min-width:768px){
      padding-top: 30px;
      margin-bottom: 30px;
    }
  }
  .btn{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
  }
}

.s3{
  padding-top: 15px;
  padding-bottom: 15px;
  @media(min-width:768px){
    padding-top: 50px;
    padding-bottom: 50px;
  }
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  p{
    margin-bottom: 45px;
  }
  .btn{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
  }
}

.why{
  background: #EFE4E2;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h2.section-title{
    &+p{
      margin-bottom: 30px;
      @media(min-width:768px){
        margin-bottom: 60px;
      }
      @media(max-width:1199px){
        br{
          display: none;
        }
      }
    }
  }
  p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    @media(min-width:768px){
      font-size: 24px;
    }
  }
  .row{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 60px;
    }
    .col-sm-6{
      display: flex;
      margin: 15px 0;
      align-items: center;
      @media(min-width:768px){
        margin: 30px 0;
      }
      img{
        margin-right: 15px;
      }
      span{
        font-size: 16px;
        font-weight: 300;
        @media(min-width:768px){
          font-size: 24px;
        }
      }
    }
  }
}