@import 'variables/colors';
@import 'base/all';

@import 'partials/main-header';
@import 'partials/main-footer';
@import 'partials/form';

@import 'partials/products';

.container-fluid{
	@media(min-width:1600px){
		padding-left: 90px;
		padding-right: 90px;
	}
}

.page-default{
	padding: 50px 0;
	p{
		font-size: 18px;
		margin-bottom: 30px;
	}
	h3{
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 15px;
		margin-top: 30px;
	}

	ul{
		list-style: outside;
		padding-left: 30px;
		margin-bottom: 30px;
		li{
			margin: 15px 0;
			font-size: 18px;
		}
	}
}


.woocommerce-account{
  font-size: 14px;
  color: #3A3C48;
  span, em, p{
    font-size: 14px;
  }
  p{
    color: #3A3C48;
  }
  h1.section-title{
    font-size: 20px;
    margin-bottom: 5px;
    @media(min-width:768px){
      font-size: 30px;
    }
  }
  .woocommerce-Address{
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  nav.woocommerce-MyAccount-navigation{
    ul{
      display: block;
      list-style-type: none;
      margin: 0 0 20px;
      padding: 0;
      align-items: center;
      border-radius: 4px;
    }
    li{
      padding: 0;
      margin: 5px 0;
      display: inline-block;
      &:not(:first-child){
        border-left: 1px solid #fff;
      }
    }
    a{
      background: #fe6f61;
      text-decoration: none;
      color: #fff;
      padding: 5px 10px;
      display: block;
      font-size: 15px;
      border-radius: 2px;
      &:hover{
        opacity: .75;
      }
    }
  }
  .woocommerce{
    form{
      max-width: 600px;
      button[type="submit"]{
        border:none;
      }
      input, textarea, select {
        font-size: 14px;
        height: 40px;
        padding: 0 10px;
      }
      label{
        font-size: 14px;
        margin-bottom: 2px;
      }
      input[type="checkbox"]{
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        & + span{
          display: inline-block;
        }
      }
    }
    form.login{
      max-width: 400px;
      display: block;
      input[type="checkbox"]{
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        & + span{
          display: inline-block;
        }
      }
      .woocommerce-form-login__rememberme{
        display: block;
        margin-bottom: 15px;
      }
    }
    p {
      margin-bottom: 10px;
    }
    a{
      color: #3A3C48;
    }
    table{
      border: 1px solid #3A3C48;
      td, th{
        border: 1px solid #3A3C48;
        padding: 15px;
      }
      th{
        background: #fe6f61;
        color: #fff;
      }
    }
    h2{
      margin: 25px 0 15px;
      font-weight: 700;
      font-size: 18px;
      @media(min-width:768px){
        font-size: 26px;
      }
    }
  }
  .title-login{
    text-align: center;
    & + form{
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.woocommerce-MyAccount-navigation-link--dashboard,
.woocommerce-MyAccount-navigation-link--downloads,
.woocommerce-MyAccount-navigation-link--edit-address,
.woocommerce-MyAccount-navigation-link--payment-methods{
  display: none !important;
}

li.woocommerce-MyAccount-navigation-link.is-active a {
  background: gray;
}