@import 'variables/colors';
@import 'base/all';

@import 'partials/main-header';
@import 'partials/main-footer';
@import 'partials/form';

@import 'partials/products';


.banner{
  padding-top: 30px;
  @media(min-width:768px){
    padding-top: 60px;
  }
  @media(min-width:1200px){
    padding-top: 90px;
  }
  .link{
    @media(max-width:768px){
      padding-bottom: 15px;
      display: block;
    }
  }
}

.products-section{
  display: flex;
  align-items: center;
  padding-top: 60px;
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 30px;
  }
  .section-title{
    text-align: center;
  }
}

.s1{
  padding-top: 60px;
  padding-bottom: 60px;
  @media(min-width:1200px){
    padding-top: 90px;
    padding-bottom: 60px;
  }
  @media(min-width:1600px){
    padding-top: 150px;
    padding-bottom: 150px;
  }
  p{
    padding-top: 10px;
    margin-bottom: 30px;
    color: #9B9B9B;
    @media(min-width:768px){
      padding-top: 20px;
      font-size: 24px;
    }
  }
  .btn{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
  }
}

.s2{
  background: #FCF1EF;
  @media(min-width:768px){
    background: none;
  }
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  &:before{
    content:"";
    display: block;
    position: absolute;
    left: 0; right: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: #FCF1EF;
    height: 500px;
    z-index: 1;
    @media(min-width:768px){
      display: none;
    }
  }
  .container{
    position: relative;
    z-index: 2;
  }
  p{
    margin-bottom: 30px;
    color: #9B9B9B;
    @media(min-width:768px){
      font-size: 20px;
    }
    @media(min-width:1600px){
      font-size: 24px;
    }
  }
  .section-title{
    font-size: 30px;
    @media(min-width:768px){
      font-size: 40px;
    }
    @media(min-width:1600px){
      font-size: 54px;
    }
  }
}

.s3{
  padding-top: 60px;
  padding-bottom: 60px;
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  p{
    margin-bottom: 15px;
    font-size: 14px;
    @media(min-width:768px){
      font-size: 16px;
    }
    @media(min-width:1600px){
      font-size: 18px;
    }
  }
  .btn{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 0;
    }
  }
  .section-title{
    margin-bottom: 30px;
  }
}

.why{
  background: #EFE4E2;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  @media(min-width:1200px){
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h2.section-title{
    text-align: center;
    &+p{
      margin-bottom: 30px;
      @media(min-width:768px){
        margin-bottom: 60px;
      }
      @media(max-width:1199px){
        br{
          display: none;
        }
      }
    }
  }
  p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #9B9B9B;
    @media(min-width:768px){
      font-size: 20px;
    }
    @media(min-width:1600px){
      font-size: 24px;
    }
  }
  .row{
    margin-bottom: 30px;
    @media(min-width:768px){
      margin-bottom: 60px;
    }
    .col-sm-6{
      display: flex;
      margin: 15px 0;
      align-items: center;
      @media(min-width:768px){
        margin: 30px 0;
      }
      img{
        margin-right: 15px;
      }
      span{
        color: #3A3C48;
        font-size: 16px;
        font-weight: 300;
        @media(min-width:768px){
          font-size: 24px;
        }
      }
    }
  }
}

.who{
  text-align: center;
  padding: 30px 0;
  @media(min-width:768px){
    padding: 45px 0;
  }
  @media(min-width:1200px){
    padding: 90px 0 30px;
  }
  @media(min-width:1600px){
    padding: 90px 0 60px;
  }
  p{
    margin-bottom: 15px;
    font-size: 16px;
    color: #9B9B9B;
    font-weight: 500;
    @media(min-width:768px){
      margin-bottom: 15px;
      font-size: 20px;
    }
    @media(min-width:1600px){
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
}